.nav-link{
padding: 20px;    

}

#vertNavBar{
    background-color:lightblue;
    width:160px;
    border-radius: 24px;
}

#sliding{
    padding:10px;
    border: solid 2px;
}

#scheduleSlide{
    padding:60px;
    display:none;
}

#horizontalNavBar{
    background-color:silver;
    border:5px solid;
    border-radius: 24px;
}

.page{
    padding: 0 25 25 25px;    
}

.pic{
    padding-right: 35px;
}

.text{
    padding-left: 35px;
}

#applyHere{
    background-color:gold;
    color:black;
}

*{
    font-family:sans-serif;
}